.apps {
  background: url(https://tcdtist-tix-clone.vercel.app/static/media/backapp.b46ef3a1.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  padding: 80px 0 80px 0;
}


.banner-img-app {
  max-width: 100%;
  height: auto;
  padding: 0 26%;
  display: block;
  position: relative;
}

.banner-img {
  position: relative;
}

.banner-img-slider {
  top: 0;
  left: 0;
  width: 100%;
  padding: 3.6% 28.9% 0% 29.2%;
  position: absolute;
}

.banner-img-slider img {
  border-radius: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.text {
  color: #fff;
  padding: 0 4rem;
}
.text h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 5rem;
}

.text p {
  margin: 1rem 0 3rem 0;
  font-size: 18px;
}
.text-download {
  color: #fff;
  border: none;
  padding: 18px 38px;
  font-size: medium;
  margin-top: 16px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #fb4226;
  transition: all 0.3s ease;
}
.text-download:hover {
  color: #fff;
  background-color: #bf3925;
}
.text p a {
    color: white;
    text-decoration: underline;
}